<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/add-app-req" method="post">
  <input type="text" name="userName" placeholder="Insert user name"><br><br>
  <input type="text" name="courseName" placeholder="Insert course name"><br><br>
  <input type="text" name="commentary" placeholder="Insert commentary"><br><br>
  <input type="text" name="phone" placeholder="Insert phone"><br><br>
  <button>ADD NEW REQUEST</button>
</form>
<table>
  <thead>
    <th>ID</th>
    <th>USER NAME</th>
    <th>COURSE NAME</th>
    <th>COMMENTARY</th>
    <th>PHONE</th>
    <th>HANDLED</th>
    <th>DETAILS</th>
  </thead>
  <tbody>
    <tr th:each="appReq : ${zayavki}">
      <td th:text="${appReq.id}"></td>
      <td th:text="${appReq.userName}"></td>
      <td th:text="${appReq.courseName}"></td>
      <td th:text="${appReq.commentary}"></td>
      <td th:text="${appReq.phone}"></td>
      <td th:text="${appReq.handled == true ? 'Обработана' : 'Необработана'}"
          th:style="${appReq.handled == true ? 'color:green' : 'color:red'}"></td>
      <td><a th:href="${'/details/'+appReq.id}">DETAILS</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>